
.DS_Store
.idea/codeStyles/Project.xml
speechrecog/.dart_tool/flutter_build/1c3cb551a7a1902191f0548f9ad248fd/.filecache
speechrecog/.dart_tool/flutter_build/1c3cb551a7a1902191f0548f9ad248fd/App
*.dill
*.stamp
*.d
*.lock
*.h
*.storyboard
*.xcworkspacedata
*.xcsettings
*.pbxproj
*.xcconfig
speechrecog/ios/Podfile
*.txt
*.class
*.jar
*.swift
*.dylib
*.strings
*.bin
*.json
*.xcscheme
*.aar
*.dex
*.fingerprint
speechrecog/build/ios/iphonesimulator/Runner.app/PkgInfo
*.gradle
*.iml
*.properties
*.java
*.gson
